
#pic{
  vertical-align: middle;
  height: 140px;
  width: 140px;
  border-width: medium;
  border-color:black;
 
}
#EPP{
 text-align: justify;
 color: coral;
}

/* inputs*/

.D{
  height: max-content; width:600px;
  background-color: #E2E0DD;
  padding: 5px;
}
.input{
  background-color: transparent;
  width: 300px;
  height: 30px;

}

.edit {
  color: coral;
  background-color: transparent;
  float:right; 
  margin-top: -30px;
  font-weight: bold;
  border-style: hidden;
}

.btn{
  color: coral;
  border-color: coral;
  border-style: solid;
  height: 30px;
  padding: 2px;
  margin-left: 5px;
 
}


