
<h2>Popular</h2>
<div class="container">
 
   <div class="row">
    
    
     <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let p of products" (click)="Ongetproduct(p)" routerLink="/product/{{p.idProduct}}">
       <div id="productBox" class="card" style="width:100%;height: 100%;" >
         <img class="card-img-top" src="assets/4.jpg" alt="Card image" style="width:100%;height: 65%;">
         <div class="card-body">
             <h5 class="card-title " style="font-weight: bold;">{{p.price}} $</h5>
                 <p class="card-text"> {{p.descreption}}</p>
             <div class="star">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
         </div>
       </div>
     </div>
    
 </div>


 </div>
 

