body{
    background-color:rgba(204, 197, 185, 0.3)
  }
  input.form-control{
    background-color: transparent;
    border-color: #EB5E28;
}
button.btn{
  background-color: #EB5E28;
  border-color: transparent;
  color: #CCC5B9;
}

  h3{
   color: #EB5E28
  }
  .buy{
    width: 150px;
    color: #CCC5B9;
    background-color:#EB5E28 ;
  }
  .add{
    width: 150px;
    color:#EB5E28;
    border-color:#EB5E28;
  }
  .card{
    background-color: #CCC5B9;
  }
  .float-right{
    margin-right: 90px;
   
  }
  .price{
    margin-top: 30px;
  }
  .star{
    margin-top: -15px;
  }
  
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}