/* navbar */
.navbar {
  background:#403D39;
  width:100%;
}


.navbar-brand{
  margin-left: 100px;
  font-size: 14px;
  font-weight: bold;
  color: coral;
}



.nav-item{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
  font-size: 14px;
}

.navbar li a:hover{
  color: coral;
}

.navbar li a {
 color: #D8D2C9;
}
 .navbar .nav-link.active{
  font-weight: bold;
}
.dropdown-item{
  color: black;
}

#navbarSupportedContent{
  margin-left: 130px;
}
