body {
  
  font-size: .875rem;
  background-color:#EBEBEB


}

/* navbar */
.navbar {
  background:#403D39;
  width:100%;
}


.navbar-brand{
  margin-left: 100px;
  font-size: 14px;
  font-weight: bold;
  color: coral;
}



.nav-item{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
  font-size: 14px;
}

.navbar li a:hover{
  color: coral;
}

.navbar li a {
 color: #D8D2C9;
}
 .navbar .nav-link.active{
  font-weight: bold;
}
.dropdown-item{
  color: black;
}

#navbarSupportedContent{
  margin-left: 130px;
}




/* Sidebar */


.sidebar {
 
  background-color: #E2E0DD ;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;

}

.sidebar-sticky {
 
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  text-align: center;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
 
}

.sidebar .nav-link.active {
  background-color: #D8D2C9 ;
  color:black;
}

#avatar{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 40px;
}
.avatar{
  margin-top: 40px;
  margin-bottom: 40px;
}

.avatar h6{
 
  color: coral;
  
}



