 /* slide */

 .carousel-inner img {
    
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-inner {
width: 100%; 
overflow: hidden;
}


.carousel {
max-height: 740px;
overflow: hidden;
}

.carousel-indicators li {
border-radius: 50%;
width: 12px;
height: 12px;
background-color: #404040;
}

@media screen and (min-width: 800px) {

#titre-carousel {
position: absolute;
left: 10%;
top: 40%;
z-index: 20;
font-family:  sans-serif;
color: black
}

#content-carousel {
position: absolute;
left: 10%;
top: 45%;
z-index: 20;
width: 420px;
font-family: sans-serif;
color: black;
}
}




@media screen and (max-width: 800px) {

  #titre-carousel {
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: 20;
  font-family:  sans-serif;
  font-size: 10px;
  color: black
  }
  
  #content-carousel {
  position: absolute;
  left: 10%;
  top: 45%;
  z-index: 20;
  font-family: sans-serif;
  font-size: 8px;
  width: 220px;
  color: black;
  }
  }


/*Navbar */

body{
  background-color: #EBEBEB;
  
}
.navbar {
 
  position:absolute;
  top: 25px;;
  z-index:10;
  background:transparent;
  width:100%;
}

.navbar-brand{
  margin-left: 100px;
  font-size: 14px;
  font-weight: bold;
  color: coral;
}



.nav-item{
  margin-right: 30px;
  font-size: 14px;
}

.navbar li a:hover{
  color: coral;
}

.navbar li a {
 color: black;
}





/* vertical menu*/

.nav-tabs{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
 
}

.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
.nav-tabs > li {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    list-style-type: none;
}
.nav-tabs > li > a {

  display: block;
  padding: 10px 0px;
  font-size: 12px;
  font-weight: bolder;
  background-color:transparent;
  color: black;
}

.nav-tabs > li > a:hover {
color: coral;
text-decoration: none;
}

.nav-tabs > li > a:active {
  color: coral;
  text-decoration: none;
  }

/* pagination */

.pagination{
  margin: 15px;
 }
 .pagination > li > a{
   color: coral;
   font-weight: bold;
 
 }

 /* footer*/


.page-footer  h6 ,.page-footer  h3 {
  color: coral;
  margin-left: 50px;
}

.page-footer ul > li{
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  list-style: none;
  margin: 10px;
  
}

.page-footer p{
  color: grey;
  margin: 2px;
  

}